/* GLOBAL */

body {
    background-image: url("threeshadow.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #201a06;
    font-family: 'Comfortaa', cursive;


    }

main {
    padding-bottom: 29%;
    
}
footer {
  /* margin-top: 10%;
  border-top: 8px solid #9dd8e0;  
  background-color: #201a06; */
  color: #c7f9ff;
  padding-bottom: 1%;
  font-size: 1em;
}

header {
    float: right;
    color:#201a06;
    margin-left: 200px;
}


header p {
margin-top: 0.2%;
margin-right: 10px;
text-align: right;
font-size: 1.3em; 

}

h1 {
    font-size: 4.5em;
    font-family: 'Monoton', cursive;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 0.2%;
    text-align: right;

    }

nav {
    display: block;
    padding-top: 48px;

}

nav ul {
    list-style-type: none;
    
}
nav li {
    display: block;
    margin: 3% 0;
}

nav li a {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    font-size: 1.3em; 
    color: #c7f9ff;
    background-color: #0ca1b9;
    padding-top: 1.0%;
    padding-bottom: 1.0%;
    padding-left: 0.5%;
    padding-right: 1.5%;
    text-align: center;

    
}


nav a:hover {
    background-color: #c7f9ff;
    color: #0ca1b9;
}
nav .active {
    background-color: #9dd8e0;
    color: #201a06;
}









/* MOBILE */
@media(max-width: 850px) {

    main {
        padding-bottom: 5%;
        
    }
    header {
        float: none;
        padding: 0%;
         margin: 0%;
    }

    h1 {
        font-size: 1.2em;
        text-align: center;
        color:#c7f9ff;
        display: block;
        
        
       
        
    }

    header p {
        font-size: 0.2em;
        color:#c7f9ff;
        text-align: center;
    
        
        /* padding-left: 20%;
        padding-right: 40%; */
        
    }

     nav li a {
        border-radius: 100%;
        text-align: center;
        font-size: 0.2em;
        padding: 2%;
        border: 2px solid #c7f9ff;
        
        
     }
     nav {
         text-align: center;
         padding: 0%;
         margin: 0%;
         display: block;
         
     }


    footer {
        font-size: 0.005%;
        float: left;
        padding: 10%;
    
    }
}











/* DESKTOP */
@media(min-width: 2000px) {

    main {
        padding-bottom: 25%;
        
    }

    h1 {
        font-size: 6.2em;
    }
    header p {
        font-size: 2.8em;
    }
     nav li a { /*
         border-radius: 45%; */
        font-size: 2.8em; 
        /* color: #c7f9ff;
        background-color: #0ca1b9;
        font-family: cursive;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-left: 1.4%;
        padding-right: 1.4%;
        text-align: center; */
    
        
    } 
/* body {
        border-bottom: 6px solid #9dd8e0;
    } */


}