/* GLOBAL */

body {
    background-image: url("threeshadow.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #201a06;

    }

main {
    padding-bottom: 30%;
    
}
footer {
  /* margin-top: 10%;
  border-top: 8px solid #9dd8e0;  
  background-color: #201a06; */
  color: #c7f9ff;
  padding-bottom: 1%;
}

header {
    float: right;
}


header p {
font-size: 1.9em;
font-family: cursive;
margin-top: 0.2%;
margin-right: 4%;

text-align: right;

}

h1 {
    font-size: 3.5em;
    font-family: 'Monoton', cursive;
    margin-left: auto;
    margin-right: 4%;
    margin-bottom: 0.2%;
    text-align: right;

    }

nav {
    display: block;
    padding-top: 48px;

}

nav ul {
    list-style-type: none;
    
}
nav li {
    display: block;
    margin: 2% 0;
}

nav li a {
    border-radius: 45%;
    font-size: 2.0em; 
    color: #c7f9ff;
    background-color: #0ca1b9;
    font-family: cursive;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.4%;
    padding-right: 1.4%;
    text-align: center;

    
}


nav a:hover {
    background-color: #c7f9ff;
    color: #0ca1b9;
}
nav .active {
    background-color: #9dd8e0;
    color: #201a06;
}



/* MOBILE */


/* DESKTOP */
@media(min-width: 1700px) {

    main {
        padding-bottom: 10%;
        
    }

    h1 {
        font-size: 5.2em;
    }
    header p {
        font-size: 3.5em;
    }
    nav li a {
        /* border-radius: 45%; */
        font-size: 3.5em; 
        /* color: #c7f9ff;
        background-color: #0ca1b9;
        font-family: cursive;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-left: 1.4%;
        padding-right: 1.4%;
        text-align: center; */
    
        
    }
/* body {
        border-bottom: 6px solid #9dd8e0;
    } */


}